global_defs {
    router_id {{ keepalived_router_id }} 
    script_user root
    enable_script_security
}
 
vrrp_script chk_ftl {
    script "/etc/scripts/chk_ftl"
    interval 1
    weight -10
}
 
vrrp_instance PIHOLE {
    state MASTER
    interface {{ keepalived_instance_interface }}
    virtual_router_id 55
    priority 150
    advert_int 1
    unicast_src_ip {{ keepalived_instance1 }}
    unicast_peer {
    {{ keepalived_instance2 }}
    }
 
    authentication {
    auth_type PASS
    auth_pass {{ keepalived_auth_pass }}
    }
 
    virtual_ipaddress {
    {{ keepalived_vip }}/24
    }
 
    track_script {
    chk_ftl
    }
}